/* src/components/Ranking.css */
.ranking {
  margin: 1rem;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
}

.ranking-table-container {
  overflow-x: auto;
  margin-top: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}
